<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <h2>Daftar Contact</h2>

            <a class="btn btn-primary mb-2" href="/contact/add">Tambah Contact</a>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">No Handphone</th>
                        <th scope="col">Email</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (contacts.length === 0) { %>
                    <tr>
                        <td colspan="3">
                            <div class="alert alert-danger" role="alert">
                                Data tidak tersedia! <br>
                                <a href="/contact" class="card-link">Back &laquo;</a>
                            </div>
                        </td>
                    </tr>


                    <% }  else {%>

                    <% contacts.forEach((contact, i) => { i++ %>
                    <tr>

                        <th scope="row"><%= i %></th>
                        <td><%= contact.nama%></td>
                        <td><%= contact.nohp%></td>
                        <td><%= contact.email%></td>

                        <td>
                            <a href="/contact/<%= contact.nama%>" class="btn btn-success badge rounded-pill">detail <i
                                    class="bi bi-info-circle"></i></a>
                        </td>


                    </tr>
                    <% }) %>

                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>